extends partials/head.pug

block title 
        title Furniture

block content
    .container
        .card
            .card-content
                h1.page-title.center-align Products of Deccan Plast Industries
                p.page-description  Deccan Plast Industries offers great Quality Molded Solutions are ergonomically designed to meet diverse customer needs and demands. Deccan Plast has the most practical range of plastic molded furniture to choose from for individual liking and needs.
                p.page-description Deccan Material Handling solutions are crafted for tough handling conditions with ease. Deccan Material Handling solutions have diverse applications in fishery, food processing, Agro industry, retail businesses, and many other storing and transporting applications.
                p.page-description We recently launched a wide range of new products such as Cabinets, Premium Arm Chairs, Premium Armless Chairs, Baby Chair and Stools.
                
                .center-align                                                        
                    a(href="index.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home                                                          