extends partials/head.pug

block title 
        title Career

block content
    .container
        .card
            iframe(width='1080' height='315' src='https://www.youtube.com/embed/7fEct1Th5kE' frameborder='0' allow='autoplay; encrypted-media' allowfullscreen='')
            iframe(width='1080', height='315', src='https://www.youtube.com/embed/pUUAeJqiCok', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
