extends partials/head.pug

block title 
        title Armless Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/armless.png", class="category-page-img", alt="Armless Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Armless Chairs
                p.category-description 
                    strong Nano
                    | armless chairs are ideal for chair renting business, in school, collage libraries, kids bed rooms in homes, as study chairs.
                p.category-description Key Features:
                ul
                    li.feature-list Compact and Strong
                    li.feature-list Suitable for hire business, homes, restaurants.
                    li.feature-list  Easy to stack and transport  
                    
                .card.product
                    .card-content
                        h3.product-title.center-align Nano
                        p.center-align Dimensions: (H) 785 mm, (W) 425 mm, (D) 430 mm

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_nano_1.png", alt="Nano Armless Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Nano RED
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_nano_2.png", alt="Nano Armless Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Nano PBL 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

