extends partials/head.pug

block title 
        title Baskets

block content
    .container
        .card
            .card-image
                img(src="images/categories/butti.png", class="category-page-img", alt="Baskets, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Baskets
                p.category-description Ferrari and Lotus are flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies
                .card.product
                    .card-content
                        p.center-align Dimensions: (H) 936 mm, (W) 615 mm, (D) 740 mm
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_25.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 25 
                                        p.price MRP: ₹ 385/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_18.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 18 
                                        p.price MRP: ₹ 245/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_21.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 21 
                                        p.price MRP: ₹ 255/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/shramashree.png", alt="Shramashree Baskets , Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Shramashree 16    
                                        p.price MRP: ₹ 140/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                                                                        
                .center-align
                    a(href="material-handling-solutions.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

