extends partials/head.pug

block title 
        title Baskets

block content
    .container
        .card
            .card-image
                img(src="images/categories/butti.png", class="category-page-img", alt="Baskets, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Baskets
                p.category-description Deccan Material Handling solutions are crafted for tough handling conditions with ease. These rubberized heavy duty crates, utility crates and baskets are uniquely designed to make them extremely strong for roughest and toughest usage. Deccan Material Handling solutions have diverse applications in fishery, food processing, Agro industry, retail shops, and many other storing and transporting applications.
              
                .card.product
                    .card-content
                        .row.center-align
                            h3 Buttis with Rope Handles
                            p.category-description  Unbreakable basket with rope handles. For handling fish, ice, fruits, vegetables and products of horticulture industry.                
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_25.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 25 
                                        p.price MRP: ₹ 385/-
                                        p.category-description 
                                            strong Dimensions: 
                                            | (H) 640 mm, (W) 400 mm                                        
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_18.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 18 
                                        p.price MRP: ₹ 245/-
                                        p.category-description 
                                            strong Dimensions: 
                                            | (H) 470 mm, (W) 215 mm
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/sindhushree_21.png", alt="Sindhushree Baskets, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Sindhushree 21 
                                        p.price MRP: ₹ 255/-
                                         p.category-description 
                                            strong Dimensions: 
                                            | (H) 540 mm, (W) 230 mm
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                        .row.center-align
                            h3 Ghamela                           
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/shramashree.png", alt="Shramashree Baskets , Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Shramashree 16    
                                        p.price MRP: ₹ 140/-
                                      
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                        .row.center-align
                            h3 Butti with Molded Handles
                           
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jayashree.png", alt="Jayashree Baskets , Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jayashree Butti
                                        p.price MRP: ₹ 140/-
                                        p.category-description 
                                            strong Dimensions: 
                                            | (ϕ) 530mm, (H) 165mm
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart             
                        .row.center-align
                            h3 Buckets                           
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/bucket.png", alt=" Buckets , Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  Buckets 17 Ltrs 
                                        p.price MRP: ₹ 140/-
                                        p.category-description 
                                            strong Dimensions: 
                                            |ϕ 335mm, (H) 400mm
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                      
                .center-align
                    a(href="material-handling-solutions.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

