extends partials/head.pug

block title 
        title Career

block content
    .container
        .card
            .card-content
                h1.page-title.center-align Careers
                p.page-description A job at Deccan Plast is not just a job; it is the beginning of a career choice made by you. Working at Deccan Plast offers unique opportunities for personal and professional development, along with a work culture that embraces diversity.At Deccan Plast you can shape your own career growth path. Find a job that you love, excel in and is rewarding as you work with the brands and people that drive our sustainable business growth. send your resume to hr@deccanplast.com
                h3.page-title.center-align Current Job Openings
