extends partials/head.pug

block title 
        title Center Tables and Trolleys

block content
    .container
        .card
            .card-image
                img(src="images/categories/center_tables.png", class="category-page-img", alt="Center Tables and Trolleys, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Center Tables and Trolleys
                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Innova
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_innova_1.png", alt="Innova Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Innova MHG
                                        p.price MRP: ₹ 875/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_innova_2.png", alt="Innova Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Innova  PWD 
                                        p.price MRP: ₹ 875/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_innova_3.png", alt="Innova Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Innova RWD 
                                        p.price MRP: ₹ 875/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_2.png", alt="Innova Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Innova DBR 
                                        p.price MRP: ₹ 875/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_2.png", alt="Innova Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Innova MBG 
                                        p.price MRP: ₹ 875/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                      
                .card.product
                    .card-content
                        h3.product-title.center-align Swift
                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_swift_1.png", alt="Swift Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Swift PWD
                                        p.price MRP: ₹ 805/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_swift_3.png", alt="Swift Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Swift RWD 
                                        p.price MRP: ₹ 805/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_swift_3.png", alt="Swift Center Tables and Trolleys, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Swift DBR 
                                        p.price MRP: ₹ 805/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_carT

                
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

