extends partials/head.pug

block title 
        title Children Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/children_chairs.png", class="category-page-img", alt="Children Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Children Chairs
                p.category-description 
                    strong Mini Relax Chairs - 
                    | Big mini chairs are for kids of age group 2-10 years available in attractive colors. Ideal for kindergartens, anganwadis, day cares nursery, preprimary and primary schools.
                    strong Baby Chairs - 
                    |Very cute designs are available in attractive colors for kids from age group 2-10 years. Recommended for kindergartens, anganwadis, nursery, preprimary and primary.
                    strong Rocker Toys - 
                    |Rocker Toys are available in attractive color combos for kids of age group 1-5 years. Ideal as birthday gift. Recommended for kindergartens and day-care and anganwadis.
                p.category-description Key Features:
                  ul
                    li.feature-list  Cute Designs
                    li.feature-list  Attractive Colors
                    li.feature-list  Suitable for Kids from 2-10 years

             
                .card.product
                    .card-content
                        h3.product-title.center-align Ferrari Mini
                        p.center-align Dimensions - Mini Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm


                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_mini_1.png", alt="Ferrari Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_mini_2.png", alt="Ferrari Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_mini_3.png", alt="Ferrari Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_mini_4.png", alt="Ferrari Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_mini_5.png", alt="Ferrari Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Lotus Mini
                        p.center-align Dimensions - Mini Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_mini_1.png", alt="Lotus Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_mini_2.png", alt="Lotus Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_mini_3.png", alt="Lotus Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_mini_4.png", alt="Lotus Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_mini_5.png", alt="Lotus Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart 
                .card.product
                    .card-content
                        h3.product-title.center-align Noble Mini
                        p.center-align Dimensions - Mini Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_noble_mini_1.png", alt="Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_noble_mini_2.png", alt="Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_noble_mini_3.png", alt="Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_noble_mini_4.png", alt="Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_noble_mini_5.png", alt="Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 300/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                .card.product
                    .card-content
                        h3.product-title.center-align Baby Eon
                        p.center-align Dimensions - Baby Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm


                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_eon_1.png", alt="Baby Eon Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_eon_2.png", alt="Baby Eon Chairs Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_eon_3.png", alt="Baby Eon Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_eon_4.png", alt="Baby Eon Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_eon_5.png", alt="Baby Eon Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                .card.product
                    .card-content
                        h3.product-title.center-align Baby ABCD
                        p.center-align Dimensions - Baby Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_abcd_1.png", alt="Baby ABCD Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_abcd_2.png", alt="Baby ABCD Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_abcd_3.png", alt="Baby ABCD Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_abcd_4.png", alt="Baby ABCD Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_abcd_5.png", alt="Baby ABCD Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart       
                .card.product
                    .card-content
                        h3.product-title.center-align Baby UP
                        p.center-align Dimensions - Baby Chairs: (H) 505 mm, (W) 360 mm, (D) 385 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_up_1.png", alt="Baby Up Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_up_2.png", alt="Baby Up Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_up_3.png", alt="Baby Up Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_up_4.png", alt="Baby Up Chairs,Noble Mini Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_up_5.png", alt="Baby Up Chairs,, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 180/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart    

                .card.product
                    .card-content
                        h3.product-title.center-align GoGo Rocker
                        p.center-align Dimensions - Rocker Toy: (H) 480 mm, (W) 325 mm, (D) 570 mm


                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_rocker_1.png", alt="GoGo Rocker Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 
                                        p.price MRP: ₹ 505/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_baby_rocker_2.png", alt="GoGo Rocker Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4  
                                        p.price MRP: ₹ 505/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                                                                                                                                             
                .center-align                                                        
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

