extends partials/head.pug

block title 
        title Crates

block content
    .container
        .card
            .card-image
                img(src="images/categories/crates.png", class="category-page-img", alt="Crates, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Crates
                p.category-description Ferrari and Lotus are flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies
                .card.product
                    .card-content
                        p.center-align Dimensions: (H) 936 mm, (W) 615 mm, (D) 740 mm
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jcdw_double_wall.png", alt="jcdw, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jumbo Crate Double Wall 
                                        p.price MRP: ₹ 1115/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jcsw_single_wall.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jumbo Crate Single Wall 
                                        p.price MRP: ₹ 1075/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp01.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Multipurpose Crates 
                                        p.price MRP: ₹ 445/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
            

                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/bottle_crate.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bottle / Beverage Crates 
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp11_mini.png", alt="Mini Veg Crates, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mini Veg Crates 
                                        p.price MRP: ₹ 350/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp12.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mini Veg Crates 
                                        p.price MRP: ₹ 350/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp21.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Utility Crates 
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp22.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Utility Crates 
                                        p.price MRP: ₹ 705/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                         
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

