extends partials/head.pug

block title 
        title Crates

block content
    .container
        .card
            .card-image
                img(src="images/categories/crates.png", class="category-page-img", alt="Crates, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Crates
                p.category-description Deccan Material Handling solutions are crafted for tough handling conditions with ease. These rubberized heavy duty crates, utility crates and baskets are uniquely designed to make them extremely strong for roughest and toughest usage. Deccan Material Handling solutions have diverse applications in fishery, food processing, Agro industry, retail shops, and many other storing and transporting applications.
                .card.product
                    .card-content
                        .row.center-align
                            h3 Jumbo Crates
                            p.category-description  Rubberized heavy duty stackable crates for roughest and toughest usage. Most useful in storing and transporting fish, fishmeal and many other industrial applications.
                            p.category-description 
                                    strong Dimensions: 
                                    | (H) 936 mm, (W) 615 mm, (D) 740 mm
                            p.category-description  
                                   strong Carrying Capacity : 
                                    |  75 Litres
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jcdw_double_wall.png", alt="jcdw, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jumbo Crate Double Wall 
                                        p.price MRP: ₹ 1115/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Jumbo Crate Double Wall ")
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jcsw_single_wall.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jumbo Crate Single Wall 
                                        p.price MRP: ₹ 1075/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Jumbo Crate Single Wall")
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/jcsw_handle.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Jumbo Crate Single Wall With Handle
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Jumbo Crate Single Wall With Handle")
                                                i.material-icons shopping_cart                                       
                        .row.center-align
                            h3 Utility Crates
                            p.category-description Stackable Utility crates with sides closed. Multipurpose solid crate for fishery, industrial and retail business, processed foods storing and transporting.
                            p.category-description
                                    strong Dimensions: 
                                    | (H) 600 mm, (W) 400 mm, (D) 285 mm
                            p.category-description 
                                    strong Carrying Capacity : 
                                    |  55 Litres
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp21.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 MP 21 Utility Crate

                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="MP 21 Utility Crate")
                                                i.material-icons shopping_cart               
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp22.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 MP 22 Utility Crate
                                        p.price MRP: ₹ 705/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="MP 22 Utility Crate")
                                                i.material-icons shopping_cart                                  
                        .row.center-align
                            h3 Multipurpose Crates
                            p.category-description Multipurpose jaali crate for veg, fruits, processed foods storing and transporting.
                            p.category-description 
                                    strong Dimensions: 
                                    |  (H) 540 mm, (W) 365 mm, (D) 290 mm
                            p.category-description  
                                    strong  Carrying Capacity : 
                                    |  45 Litres                          
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp01.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Multipurpose Crates 
                                        p.price MRP: ₹ 445/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Multipurpose Crates")
                                                i.material-icons shopping_cart                                                                                                                                                                                               .row.center-align
                        .row.center-align
                            h3 Mini Veg Crates
                            p.category-description Multipurpose jaali crate for tomato, flowers, storing and transporting.
                            p.category-description
                                  strong Dimensions: 
                                  |  (H) 600 mm, (W) 400 mm, (D) 285 mm
                            p.category-description  
                                  strong  Carrying Capacity :
                                  | 30 Litres

                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp11_mini.png", alt="Mini Veg Crates, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 MP11 Mini Veg Crates 
                                        p.price MRP: ₹ 350/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="MP11 Mini Veg Crates")
                                                i.material-icons shopping_cart          
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/mp12.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 MP12 Mini Veg Crates 
                                        p.price MRP: ₹ 350/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="MP12 Mini Veg Crates")
                                                i.material-icons shopping_cart                   
                        .row.center-align
                            h3 Bottle Crates
                            p.category-description Stackable Crates for soda and cold beverage industry for storing and transport. Ideal for branding product logo.
                            p.category-description 
                                strong Dimensions: 
                                | (H) 420 mm, (W) 140 mm, (D) 200 mm
                            p.category-description
                                strong  Pocket Size: 
                                |  62mm * 24nos
                            p.category-description 
                                strong  Bottle Type: 
                                |   200ml to 300ml
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/mhs/bottle_crate.png", alt="Mini Veg Crates, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bottle Crates 
                                        p.price MRP: ₹ 350/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Bottle Crates")
                                                i.material-icons shopping_cart                                   
                    a(href="material-handling-solutions.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

                    #quote-modal.modal
                        .modal-content
                        h3 Modal Header
                        p Please fill all your details.
                        form(action="", id="request-quote-form")
                            .input-field
                                input(placeholder="John Doe", id="rq-name", type="text", class="validate")
                                label(for="rq-name") Name
                            .input-field
                                input(placeholder="johndoe@gmail.com", id="rq-email", type="email", class="validate")
                                label(for="rq-email") Email
                            .input-field
                                input(placeholder="10 Digit Mobile No", id="rq-phone", type="tel", class="validate")
                                label(for="rq-phone") Phone    
                            .input-field
                                input(placeholder="575001", id="rq-pincode", type="number", class="validate")
                                label(for="rq-pincode") Pincode
                            .input-field
                                input(placeholder="Mangalore", id="rq-location", type="text", class="validate")
                                label(for="rq-location") Location
                            .input-field
                                textarea#rq-message.materialize-textarea  
                                label(for="rq-message")  Message                                                                                           
                        .modal-footer
                        a.modal-send.waves-effect.waves-green.btn.btn-flat(href="#") Send
                        a.modal-close.waves-effect.waves-green.btn.btn-flat(href="#") Close



                