extends partials/head.pug

block title 
        title Dining Tables

block content
    .container
        .card
            .card-image
                img(src="images/categories/dining_tables.png", class="category-page-img", alt="Dining Tables, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Dining Tables
                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Mangalore Dining Tables
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_3.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mangalore RED
                                        p.price MRP: ₹ 1770/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_5.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mangalore RWD 
                                        p.price MRP: ₹ 1770/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_1.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mangalore PWD 
                                        p.price MRP: ₹ 1770/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mangalore_dining_2.png", alt="Mangalore Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mangalore DBR 
                                        p.price MRP: ₹ 1770/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                    
                .card.product
                    .card-content
                        h3.product-title.center-align Calicut Round Dining Tables
                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_calicut_round_3.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Calicut RED
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_calicut_round_1.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Calicut TCO 
                                        p.price MRP: ₹ 1590/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_calicut_round_2.png", alt="Calicut Dining Tables, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Calicut DBR 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_carT

                
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

