extends partials/head.pug

block title 
        title High Back Dining Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/high_back_dining.png", class="category-page-img", alt="High Back Dining Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align High Back Dining Chairs
                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Figo
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_1.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo PWD
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_8.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo RWD 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_7.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo MBG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_4.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo RED 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_3.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo MHG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                .card.product
                    .card-content
                        h3.product-title.center-align Polo
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_4.png", alt="Polo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo PWD
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_2.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo RWD 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_3.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo MBG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_1.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo RED 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                        
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

