extends partials/head.pug

block title 
        title High Back Dining Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/high_back_dining.png", class="category-page-img", alt="High Back Dining Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align High Back Dining Chairs
                p.category-description 
                    strong Figo and Polo
                    | are Ideal banquet chair. Suitable for any function. Can go well as dining chair in homes, restaurants, dining halls dhabas, banquet rooms, marriage halls, etc.
                p.category-description Key Features:
                ul
                    li.feature-list Attractive and Ideal banquet chairs
                    li.feature-list Suitable for any occassion and function
                    li.feature-list  Easy to stack and transport


                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc     
                    


                .card.product
                    .card-content
                        h3.product-title.center-align Figo
                        p.center-align Dimensions: (H) 890 mm, (W) 470 mm, (D) 450 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_1.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo PWD
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_8.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo RWD 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_7.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo MBG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_4.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo RED 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_figo_3.png", alt="Figo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Figo MHG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                .card.product
                    .card-content
                        h3.product-title.center-align Polo
                        p.center-align Dimensions: (H) 890 mm, (W) 470 mm, (D) 450 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_4.png", alt="Polo High Back Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo PWD
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_2.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo RWD 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_3.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo MBG 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_polo_1.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Polo RED 
                                        p.price MRP: ₹ 515/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                        
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

