extends partials/head.pug

block title 
        title Welcome

block content
        .carousel.carousel-slider
          a.carousel-item(href='#one!')
             img(src='images/cover/Bentley.png')
          a.carousel-item(href='#two!')
             img(src='images/cover/Ferrari.png')
          a.carousel-item(href='#three!')
             img(src='images/cover/Bentley.png')
          a.carousel-item(href='#four!')
             img(src='images/cover/Ferrari.png')
        h1 Welcome to Deccan Plast Industries
        p.page-description Founded in 1992, Deccan Group is an acknowledged initiator and innovator of coastal Karnataka's plastics industry. No wonder that Deccan Plast Industries were first to offer the widest and most comprehensive Quality Molded Solutions.The Deccan Plast Industries has an advanced “state of the art” factory in Mangaluru, constructed in the standards matching any MNC factory having latest injection molding machines and molds and other equipment, is powered by latest technology complemented by in-house R & D and product development
        h3   Our Premium Range of Products
        .card.product
                    .card-content
                        .row.center-align
                            
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_1.png", alt="Ferrari Premium Relax Chairs, Deccan Plast Industries.")
                                    
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_porsche_1.png", alt="porsche high back chairs, Deccan Plast Industries.")
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Premium Arm Chairs, Deccan Plast Industries.")
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chairs, Deccan Plast Industries.")
                                 
                        .row.center-align
                            
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/sindhushree_21.png", alt="sindhushree 21, Deccan Plast Industries.")
                                    
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_4.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_calicut_round_2.png", alt="Calicut Dining , Deccan Plast Industries.")
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_nano_3.png", alt="Nano Armless Chairs, Deccan Plast Industries.")
                        h3 New Arrivals
                           .carousel
                                a.carousel-item(href='#one!')
                                  img(src='images/products/furniture/altima_premium_arm_chairs.png')
                                a.carousel-item(href='#two!')
                                  img(src='images/products/furniture/focus_premium_armless_chairs.png')
                                a.carousel-item(href='#three!')
                                  img(src='images/products/furniture/optima_premium_arm_chairs.png')
                                a.carousel-item(href='#four!')
                                  img(src='images/products/furniture/pleasure_06_bath_stool.png')
                                a.carousel-item(href='#five!')
                                  img(src='images/products/furniture/fusion_premium_armless_chairs.png')
             
                        
        

