extends partials/home.pug

block title 
        title Welcome

block content
        nav.main-nav
            .container
                .nav-wrapper
                    a(href="#", class="brand-logo") 
                        img(src="images/logo.png", alt="Logo of Deccan Plast Industries")
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a(href="index.html") Home
                        li
                            a(href="about.html") About
                        li
                            a(href="products.html") Products
                        li
                            a(href="products.html") Media                            
                        li
                            a(href="career.html") Career
                        li
                            a(href="contact.html") Contact                                                                                                  
                    
        #main-slider.carousel.carousel-slider
          a.carousel-item(href='#one!')
             img(src='images/cover/Bentley.png')
          a.carousel-item(href='#two!')
             img(src='images/cover/Ferrari.png')
          a.carousel-item(href='#three!')
             img(src='images/cover/Bentley.png')
          a.carousel-item(href='#four!')
             img(src='images/cover/Ferrari.png')
        .container
            h1.center-align Welcome to Deccan Plast Industries
            p.page-description Founded in 1992, Deccan Group is an acknowledged initiator and innovator of coastal Karnataka's plastics industry. No wonder that Deccan Plast Industries were first to offer the widest and most comprehensive Quality Molded Solutions.The Deccan Plast Industries has an advanced “state of the art” factory in Mangaluru, constructed in the standards matching any MNC factory having latest injection molding machines and molds and other equipment, is powered by latest technology complemented by in-house R & D and product development
            h3.center-align Our Premium Range of Products
            .owl-carousel.owl-theme
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
                .card.z-depth-2.slider-card
                    .card-image
                        img(src="images/products/furniture/s_lexus_3.png", class="home-card-img", alt="Lexus high back chairs, Deccan Plast Industries.")
                        h5 Lexus Premium High Back Chairs
            .center-align                                                                                                                                                                                                                                                                    
                a(href="products.html" class="waves-effect waves-light btn-small red") 
                    i.material-icons.right chevron_right
                    | View All

            h3.center-align New Arrivals
            p.page-description   Deccan Plast Industries recently launched a wide range of new products such as Cabinets, Premium Arm Chairs, Premium Armless Chairs, Baby Chair and Stools.
            .carousel#new-arrival-carousel
                .carousel-item
                    h3.center-align Altima
                    img(src='images/products/furniture/altima_premium_arm_chairs.png')
                .carousel-item
                    h3.center-align Altima
                    img(src='images/products/furniture/focus_premium_armless_chairs.png')
                .carousel-item
                    h3.center-align Altima
                    img(src='images/products/furniture/optima_premium_arm_chairs.png')
                .carousel-item
                    h3.center-align Altima                       
                    img(src='images/products/furniture/pleasure_06_bath_stool.png')
                .carousel-item
                    h3.center-align Altima                        
                    img(src='images/products/furniture/fusion_premium_armless_chairs.png')
            .center-align                                                                                                                                                                                                                                                                    
                a(href="products.html" class="waves-effect waves-light btn-small red") 
                    i.material-icons.right chevron_right
                    | View All

