extends partials/head.pug

block title 
        title Material Handling Solutions   

block content
    .container
        .card
            .card-content
                h1.page-title.center-align Material Handling Solutions
                p.page-description   Deccan Material Handling solutions are crafted for tough handling conditions with ease. These rubberized heavy duty crates, utility crates and baskets are uniquely designed to make them extremely strong for roughest and toughest usage. Deccan Material Handling solutions have diverse applications in fishery, food processing, Agro industry, retail shops, and many other storing and transporting applications.
                p.page-description   Key product features are: 
                ul.container
                    li.feature-list  Made from Prime virgin food grade HDPE and PP in ISO 9001:2010 certified facility.
                    li.feature-list  Computer aided product and mold designs.
                    li.feature-list  Lightweight and easy to handle yet Tough and long lasting.
                    li.feature-list  Crack, chip and corrosion resistant.
                    li.feature-list  Environmental stress and UV resistant.
                    li.feature-list  Withstand temperatures from -35°C to 75°C.
                    li.feature-list  Hygienic and non-toxic. Resist bacterial/ fungal growth.
                    li.feature-list  Improve efficiency, hygiene and stop wastage.
                    li.feature-list  Extremely economical in the long run.
                    li.feature-list  Available in a range of pleasing colors.
                h3.center-align Products
                .row.product-row.center-align                                                                     
                    .col.m3.offset-m3
                        a(href="crates.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/crates.png", alt="Crates, Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Crates
                    .col.m3
                        a(href="baskets.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/butti.png", alt="Baskets, Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Baskets 
                .center-align                                                        
                    a(href="products.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home                                                                                    