extends partials/head.pug

block title 
        title Mid Back Arm Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/mid_back_arm.png", class="category-page-img", alt="Mid Back Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Mid Back Arm Chairs

                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Camry
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_3.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry RWD
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_1.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry PWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_2.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry MBG 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                .card.product
                    .card-content
                        h3.product-title.center-align Accord
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_2.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord MBG
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_2.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord PWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_1.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord RWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                .card.product
                    .card-content
                        h3.product-title.center-align Amaze
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze MBG
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze TCO 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze DBR 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                            
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

