extends partials/head.pug

block title 
        title Mid Back Arm Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/mid_back_arm.png", class="category-page-img", alt="Mid Back Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Mid Back Arm Chairs
                p.category-description 
                    strong Camry,Accord,Amaze are very strong arm chairs fit for multitask role.
                    |   
                    strong Eon,Brio and Up  
                    |  arm chairs are Ideal anywhere and any ambience chairs for casual seating.
                p.category-description Key Features:
                ul
                    li.feature-list  Strong and Sturdy
                    li.feature-list Multipurpose Everyday usage
                    li.feature-list  Easy to stack and transport

                p.category-description 
                    strong Recommended 
                    | for homes, restaurants, dhabas, tent houses, marriage halls or renting business, etc               
                   
                .card.product
                    .card-content
                        h3.product-title.center-align Camry
                        p.center-align Dimensions: (H) 790 mm, (W) 585 mm, (D) 580 mm
                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_3.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry RWD
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_1.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry PWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_camry_2.png", alt="Camry Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Camry MBG 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Accord
                        p.center-align Dimensions: (H) 790 mm, (W) 585 mm, (D) 580 mm

                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_2.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord MBG
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_2.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord PWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_accord_1.png", alt="Accord Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Accord RWD 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                .card.product
                    .card-content
                        h3.product-title.center-align Amaze
                        p.center-align Dimensions: (H) 790 mm, (W) 585 mm, (D) 580 mm

                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze MBG
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze TCO 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Amaze Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Amaze DBR 
                                        p.price MRP: ₹ 615/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart  
                .card.product
                    .card-content
                        h3.product-title.center-align Eon
                        p.center-align Dimensions: (H) 785 mm, (W) 550 mm, (D) 585 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_amaze_1.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Eon RED
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_eon_2.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Eon MBG 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_eon_3.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Eon PWD 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_eon_4.png", alt="Eon Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Eon RWD 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                                                                                  
                .card.product
                    .card-content
                        h3.product-title.center-align Brio
                        p.center-align Dimensions: (H) 785 mm, (W) 550 mm, (D) 585 mm

                        .row.center-align
                            .col.m6.l3.offset-l1
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brio_1.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brio RWD
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brio_4.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brio MBG 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brio_2.png", alt="Brio Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brio PWD 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                .card.product
                    .card-content
                        h3.product-title.center-align Up
                        p.center-align Dimensions: (H) 785 mm, (W) 550 mm, (D) 585 mm

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_up_1.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Up RWD
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_up_2.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Up PWD 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_up_3.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Up MHG 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart  
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_up_4.png", alt="Up Mid Back Arm Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Up RED 
                                        p.price MRP: ₹ 535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                              
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

