extends partials/head.pug

block title 
        title Ritz Multi Seating System

block content
    .container
        .card
            .card-image
                img(src="images/categories/study_chair.png", class="category-page-img", alt=" Ritz Multi Seating System, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Ritz Multi Seating System
                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Ritz(Shell)
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_1.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Visitor
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_2.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Conference 
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_3.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Study Chair 
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_4.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Study Chair(Rack)
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_5.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Revolving Chair with Wheels
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .center-align                                                                    
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

