extends partials/head.pug

block title 
        title Ritz Multi Seating System

block content
    .container
        .card
            .card-image
                img(src="images/categories/study_chair.png", class="category-page-img", alt=" Ritz Multi Seating System, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Ritz Multi Seating System
                p.category-description 
                    strong  Ritz 
                    | Mass seating system are versatile and modular with multiple applications ike single seater, office models, conference chairs for offices, multiseater for waiting areas, student study chair models for schools, collages, coaching classes, libraries etc.
                    
                p.category-description Key Features:
                  ul
                    li.feature-list  Versatile Modular Seating
                    li.feature-list Multi-purpose Applications
                    li.feature-list  Available in attractive colors
                .card.product
                    .card-content
                        h3.product-title.center-align Ritz(Shell)
                        p.center-align Dimensions - Single Seat: (H) 375 mm, (W) 425 mm, (D) 430 mm
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_1.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Visitor
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_2.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Conference 
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_3.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Study Chair 
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_4.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Study Chair(Rack)
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.ritz-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ritz_5.png", alt="Ritz Multi Seating System, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Revolving Chair with Wheels
                                        p.price MRP: ₹ 425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .center-align                                                                    
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

