extends partials/head.pug

block title 
        title New Arrivals

block content
    .container
        .card
            .card-content
                h1.page-title.center-align New Arrivals
                p.page-description   Deccan Plast Industries recently launched a wide range of new products such as Cabinets, Premium Arm Chairs, Premium Armless Chairs, Baby Chair and Stools.
                p.page-description Our new products are :
                ul.container
                    li.feature-list  Liberty Cabinets Big
                    li.feature-list  Liberty Cabinets Small
                    li.feature-list  Impreza Ornate Chairs
                    li.feature-list  Optima Premium Arm Chairs
                    li.feature-list  Altima Premium Arm Chairs
                    li.feature-list  Focus Premium Armless Chairs
                    li.feature-list  Fusion Premium Armless  Chairs
                    li.feature-list  Smilee Children Chairs
                    li.feature-list  Maestro 10 Stools
                    li.feature-list  Pleasure 6 Stools

                h3.center-align Products    
                .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="premium-relax-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/premium_relax.png", alt="Premium Relax Chairs, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Premium Relax Chairs
                    .col.s12.m6.l4.xl3
                        a(href="premium-arm-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/premium_arm.png", alt="Premium Arm Chairs, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Premium Arm Chairs 
                    .col.s12.m6.l4.xl3
                        a(href="premium-high-back-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/premium_high_back.png", alt="Premium High Back Chairs Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Premium High Back Chairs                      
                    .col.s12.m6.l4.xl3
                        a(href="premium-dining-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/premium_dining.png", alt="Premium Dining Chairs Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Premium Dining Chairs
                    .col.s12.m6.l4.xl3
                        a(href="midback-arm-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/mid_back_arm.png", alt="Mid Back Arm Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Mid Back Arm Chairs 
                    .col.s12.m6.l4.xl3
                        a(href="high-back-dining-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/high_back_dining.png", alt="High Back Dining Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 High Back Dining Chairs
                    .col.s12.m6.l4.xl3
                        a(href="armless-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/armless.png", alt="Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Armless Chairs
                    .col.s12.m6.l4.xl3
                        a(href="dining-tables.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/dining_tables.png", alt="Dining Tables Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Dining Tables
                    .col.s12.m6.l4.xl3
                        a(href="center-tables-trolley.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/center_tables.png", alt=" Center Tables & Trolleys Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Center Tables & Trolleys 
                    .col.s12.m6.l4.xl3
                        a(href="multi-seating-solutions.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/study_chair.png", alt="Multi-Seating Solutions Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Multi-Seating Solutions
                    .col.s12.m6.l4.xl3
                        a(href="children-chairs.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/children_chairs.png", alt="Children Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Children Chairs                
                    .col.s12.m6.l4.xl3
                        a(href="stools.html")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/categories/stool_cat.png", alt="Stools Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Stools
                .center-align                                                        
                    a(href="products.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home                                                   