extends partials/head.pug

block title 
        title New Arrivals

block content
    .container
        .card
            .card-content
                h1.page-title.center-align New Arrivals
                p.page-description   Deccan Plast Industries recently launched a wide range of new products such as Cabinets, Premium Arm Chairs, Premium Armless Chairs, Baby Chair and Stools.
                p.page-description Our new products are :
                ul.container
                    li.feature-list  Liberty Cabinets Big
                    li.feature-list  Liberty Cabinets Small
                    li.feature-list  Impreza Ornate Chairs
                    li.feature-list  Optima Premium Arm Chairs
                    li.feature-list  Altima Premium Arm Chairs
                    li.feature-list  Focus Premium Armless Chairs
                    li.feature-list  Fusion Premium Armless  Chairs
                    li.feature-list  Smilee Children Chairs
                    li.feature-list  Maestro 10 Stools
                    li.feature-list  Pleasure 6 Stools

                h3.center-align Products    
                .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/liberty_big.png", alt="Liberty Cabinets Big, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Liberty Cabinets Big
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/liberty_small.png", alt="Liberty Cabinets Small, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Liberty Cabinets Small 
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Ornate Chairs Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Impreza Ornate Chairs                      
                   
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Optima Premium Arm Chairs 
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/altima_premium_arm_chairs.png", alt=" Altima Premium Arm Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Altima Premium Arm Chairs
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/focus_premium_armless_chairs.png", alt="Focus Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Focus Premium Armless Chairs
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/fusion_premium_armless_chairs.png", alt=" Fusion Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Fusion Premium Armless Chairs
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/smilee.png", alt="  Smilee Children Chairs Tables & Trolleys Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Smilee Children Chairs 
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/s_maestro_6.png", alt="Multi-Seating Solutions Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Maestro 10 Stools
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/s_pleasure_5.png", alt="Children Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Pleasure 6     Stools                
                    
                .center-align                                                        
                    a(href="products.html" class="waves-effect waves-light btn-small red") 
                        i.material-icons.left home
                        | Home                                                   