extends partials/head.pug

block title 
        title New Arrivals

block content
    .container
        .card
            .card-content
            h1.page-title.center-align New Arrivals
            p.page-description   Deccan Plast Industries recently launched a wide range of new products such as Cabinets, Premium Arm Chairs, Premium Armless Chairs, Baby Chair and Stools.
            p.page-description Our new products are :
                 ul.container
                    li.feature-list  Liberty Cabinets Big
                    li.feature-list  Liberty Cabinets Small
                    li.feature-list  Impreza Ornate Chairs
                    li.feature-list  Optima Premium Arm Chairs
                    li.feature-list  Altima Premium Arm Chairs
                    li.feature-list  Focus Premium Armless Chairs
                    li.feature-list  Fusion Premium Armless  Chairs
                    li.feature-list  Smilee Children Chairs
                    li.feature-list  Maestro 10 Stools
                    li.feature-list  Pleasure 6 Stools
            h3.category-title.center-align Liberty Cabinets
            p.category-description  
              strong Liberty Cabinets Big , Liberty Cabinets Small are
              |     Rattan finished and wooden finished cabinets for houses and commercial establishments 
            p.category-description 
              strong Dimensions: 
               |  (H) 1500 mm (W) 710 mm (D) 440 mm         
            p.category-description 
             strong Price : 
             | Liberty Cabinets Big Rs-7500 | Liberty Cabinets Small Rs-4425


            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-5
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/liberty_big.png", alt="Liberty Cabinets Big, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Liberty Cabinet Big
                                    
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-5
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/liberty_small.png", alt="Liberty Cabinets Small, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Liberty Cabinet Small
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-5
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/liberty_small.png", alt="Liberty Cabinets Small, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 Liberty Shoe Rack
            h3.category-title.center-align Premium Arm Chairs
            p.category-description  
              strong Altima, Optima 
              |    are Premium quality arm chairs with Rattan design on seat and back for 	comfortseating. Very sturdy and strong chair.Suitable for any formal or informal ambience and special locations
           
            p.category-description  
            strong Altima Premium Arm Chairs -
            |   Rattan design on seat and back arm chairs with metal pipe with claddings.

            p.category-description  
            strong Optima Premium Arm Chairs - 
            |   lines design on seat and back arm chairs with metal pipe with claddings.
            p.category-description 
              strong Dimensions: 
               |  (H) 805 mm (W) 570 mm (D) 480 mm         
            p.category-description 
              strong Price : 
               | ALTIMA/OPTIMA Premium Arm Chairs - Rs 1535
              


            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-5
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Liberty Cabinets Big, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 OPTIMA Premium Arm Chairs
                                    
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-5
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/altima_premium_arm_chairs.png", alt="Liberty Cabinets Small, Deccan Plast Industries.")
                                .card-content.center-align
                                    span.card-title.grey-text.text-darken-4 ALTIMA Premium Arm Chairs

            h3.category-title.center-align Premium Armless Chairs
            p.category-description  
              strong Focus, Fusion 
              |    Premium quality armless chairs with Rattan design on seat and back forcomfort seating. Very sturdy and strong chair. Suitable for any formal or informal ambience and special locations
            p.category-description  
            strong Focus Premium Armless Chairs -
            |   Lines design on seat and back arm chairs with metal pipe with claddings

            p.category-description  
            strong Fusion Premium Armless Chairs - 
            |   Rattan design on seat and back arm chairs with metal pipe  with claddings.
            p.category-description 
              strong Dimensions: 
               | (H) 805 mm (W) 430 mm (D) 480 mm
            p.category-description 
              strong Price : 
               | Focus/Fusion Premium Arm Chairs - Rs 1400
            .row.product-row.center-align

                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/focus_premium_armless_chairs.png", alt="Focus Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Focus Premium Armless Chairs
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/fusion_premium_armless_chairs.png", alt=" Fusion Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Fusion Premium Armless Chairs
            h3.category-title.center-align Ornate Chairs
            p.category-description  
              strong Imprezza Ornate Chairs
              |    IMPREZA fully rattan designed chair is first of its kind in India have ergonomically contoured comfortable back.The seat, back,arms, legs are having rattan texture makes its look very luxurious and ornamental with perfectcomfort. The metallic glossy colors enhance the beauty of the chair many fold. The style, rattan texture, design and color and finish give rich look of ornamental chair instead of an ordinary plastic chair
            p.category-description  
           
            p.category-description 
              strong Dimensions: 
               |(H)835 mm (W) 520 mm (D) 565 mm
            p.category-description 
              strong Price : 
               | Imprezza Ornate Chairs - Rs 750
            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/focus_premium_armless_chairs.png", alt="Focus Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Focus Premium Armless Chairs
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/fusion_premium_armless_chairs.png", alt=" Fusion Premium Armless Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4  Fusion Premium Armless Chairs  
            h3.category-title.center-align Baby Chairs
            p.category-description  
              strong Smilee Baby Chairs - 
              | Heavy duty chair for children in very attractive colors. Beautiful design available in attractive colors for kids from age group upto 12years. Ideal for homes, schools, kindergartens, anganwadis.            
            p.category-description 
              strong Dimensions: 
               |(H) 512 mm 325 (W) mm (D)325
            p.category-description 
              strong Price : 
               | Smilee Baby chairs - Rs 370
            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/smilee.png", alt="Smilee Chairs Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Smilee Baby chairs
            h3.category-title.center-align Square  Stools
            p.category-description  
              strong Maestro 10 - 
              | Rattan finished stool 10” (H) in square shaped top ,This 10” stool is beautifully created with excellent Rattan texture for multipurpose usage
            p.category-description 
              strong Dimensions: 
                |(H) 290 mm Top dimensions: (L) 300 mm (W) 300 mm          
            p.category-description 
            strong Price : 
               | Maestro 10 Stools - Rs 230
            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/s_maestro_5.png" , alt="Maestro 10 Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Maestro 10
            h3.category-title.center-align Bath Stools
            p.category-description  
              strong Pleasure 10 - 
              | Cute designed bath stool in attractive colors with side support ribs for extra strength.Very strong bathstool to match flooring of any designer bathroom.
            p.category-description 
              strong Dimensions: 
                |SEAT (310 MM X 260 MM) X (H) 255 mm         
            p.category-description 
            strong Price : 
               | Pleasure 10 Stools - Rs 155
            .row.product-row.center-align
                    .col.s12.m6.l4.xl3
                        a(href="#")
                            .card.category-card.z-depth-2   
                                .card-image.waves-effect.waves-block.waves-light
                                    img(src="images/products/furniture/s_pleasure_5.png" , alt="Pleasure  10 Deccan Plast Industries")
                                .card-content.center-align
                                    span.card-title.activator.grey-text.text-darken-4 Maestro 10
                                       
            .center-align                                                        
                a(href="products.html" class="waves-effect waves-light btn-small red") 
                    i.material-icons.left home
                    | Home                                                                                              