extends partials/head.pug

block title 
        title Premium Dining Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/premium_dining.png", class="category-page-img", alt="Premium Dining Chairss, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium Dining Chairs


                p.category-description Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit repudiandae explicabo velit libero, unde qui, fugit dolores porro quae incidunt natus sequi corrupti beatae. Esse a iusto ipsa perspiciatis saepe earum minima, tempora laudantium voluptates accusantium hic id recusandae itaque corrupti debitis deserunt aliquam possimus, nam maxime modi corporis. Dolorum illo nemo nesciunt fugit tempora officia natus, eum, corporis mollitia asperiores quaerat animi fugiat in ad aperiam minus beatae sit, obcaecati aliquid quasi minima atque quidem unde vitae. Voluptates quidem cupiditate magni, quo ad dignissimos sint quisquam possimus reprehenderit, explicabo itaque aspernatur debitis! Omnis similique magnam atque, maiores voluptatem fuga.
                .card.product
                    .card-content
                        h3.product-title.center-align Brezza
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brezza_4.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brezza TCO
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brezza_1.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brezza  DBR 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                                                              

                .card.product
                    .card-content
                        h3.product-title.center-align Hexa
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_8.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa DBR
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_5.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa RED 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_3.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa CPK 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_6.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa CYB 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart  
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_1.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa YLW
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                                                                                                                                                                                                     

                .card.product
                    .card-content
                        h3.product-title.center-align Crysta
                        .row.center-align
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_2.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta PWD
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_1.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta RWD 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart  
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_3.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta MHG 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart   
                            .col.s3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_5.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta DBR 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                                                 
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home


