extends partials/head.pug

block title 
        title Premium Dining Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/premium_dining.png", class="category-page-img", alt="Premium Dining Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium Dining Chairs
                h3.product-title.center-align Focus
            p.category-description 
                strong Focus 
                |consists lines design on seat and back arm chairs with metal pipe with claddings
                p.category-description 
                strong Dimensions: 
                | (H) 805 mm (W) 430 mm (D) 480 mm
                p.category-description
                strong  Key Features:
                |
                ul
                    li.feature-list  Premium quality armless chairs with Line design on seat and back for comfort seating. 
                    li.feature-list Very sturdy and strong chair.
                    li.feature-list  Suitable for any formal or informal ambience and special locations
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .card.product
                    .card-content
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Focus CYB
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus CYB")
                                                i.material-icons shopping_cart          
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Focus RED
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus RED")
                                                i.material-icons shopping_cart                   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Focus ORG
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus ORG")
                                                i.material-icons shopping_cart                   
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Focus YLW
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus YLW")
                                                i.material-icons shopping_cart            
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/focus-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Focus DBR
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Focus DBR")
                                                i.material-icons shopping_cart               
                h3.product-title.center-align Fusion
                p.category-description 
                strong Fusion 
                |consists Rattan design on seat and back arm chairs with metal pipe with claddings
                p.page-description 
                strong Dimensions:
                |(H) 805 mm (W) 430 mm (D) 480 mm

                p.category-description
                strong  Key Features:
                |
                ul
                    li.feature-list  Premium quality armless chairs with Line design on seat and back for comfort seating. 
                    li.feature-list Very sturdy and strong chair.
                    li.feature-list  Suitable for any formal or informal ambience and special locations
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .card.product
                    .card-content
                        .row.center-align
                         
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/fusion-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Fusion DGY
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion DGY")
                                                i.material-icons shopping_cart                        
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/fusion-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Fusion TCO
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion TCO")
                                                i.material-icons shopping_cart                  
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/fusion-premium-armless-chairs.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Fusion DBR
                                        p.price MRP: ₹ 1400/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Fusion DBR")
                                                i.material-icons shopping_cart              
                h3.product-title.center-align Brezza                                                         
                p.category-description 
                strong Brezza 
                | is a  Premium Dining Chairs with bigger seat and more depth. They are strong and sturdy, better than any other competitors products. Brezza is premium two-tone dining chair for upmarket places. Hexa is premium dining chair for fast food joints, restaurants and households. Crysta is premium dining chair for canteens, office and other commercial uses.
                p.category-description
                strong Dimensions: 
                |(H) 895 mm, (W) 590 mm, (D) 650 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Bigger seat with more depth
                    li.feature-list Strong, Sturdy and Bigger than any competitor products
                    li.feature-list  Ideal Banquet Chairs
                p.category-description 
                strong Recommended 
                | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .card.product
                    .card-content

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brezza_4.png", alt="Brezza Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brezza TCO
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Brezza TCO")
                                                i.material-icons shopping_cart          
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_brezza_1.png", alt="Brezza Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Brezza  DBR 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Brezza DBR")
                                                i.material-icons shopping_cart                                                            
                h3.product-title.center-align Hexa                                                         
                p.category-description 
                    strong Hexa 
                    |  is a  Premium Dining Chairs with bigger seat and more depth. They are strong and sturdy, better than any other competitors products. Brezza is premium two-tone dining chair for upmarket places. Hexa is premium dining chair for fast food joints, restaurants and households. Crysta is premium dining chair for canteens, office and other commercial uses.
                p.category-description
                strong Dimensions: 
                |(H) 895 mm, (W) 590 mm, (D) 650 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Bigger seat with more depth
                    li.feature-list Strong, Sturdy and Bigger than any competitor products
                    li.feature-list  Ideal Banquet Chairs
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .card.product
                    .card-content
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_8.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa DBR
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Hexa DBR")
                                                i.material-icons shopping_cart              
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_5.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa RED 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Hexa RED")
                                                i.material-icons shopping_cart              
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_3.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa CPK 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Hexa CPK")
                                                i.material-icons shopping_cart              
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_6.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa CYB 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                              a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Hexa CYB")
                                                i.material-icons shopping_cart               
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_hexa_1.png", alt="Hexa Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Hexa YLW
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Hexa YLW")
                                                i.material-icons shopping_cart                                                                                                                                                                                                     
                
                
                h3.product-title.center-align Crysta                                                         
                p.category-description 
                    strong Crysta 
                    |  is a  Premium Dining Chairs with bigger seat and more depth. They are strong and sturdy, better than any other competitors products. Brezza is premium two-tone dining chair for upmarket places. Hexa is premium dining chair for fast food joints, restaurants and households. Crysta is premium dining chair for canteens, office and other commercial uses.
                p.category-description
                strong Dimensions: 
                |(H) 895 mm, (W) 590 mm, (D) 650 mm
                p.category-description 
                strong Key Features:
                |
                ul
                    li.feature-list  Bigger seat with more depth
                    li.feature-list Strong, Sturdy and Bigger than any competitor products
                    li.feature-list  Ideal Banquet Chairs
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.                               
                .card.product
                    .card-content
                        

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_2.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta PWD
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Crysta PWD")
                                                i.material-icons shopping_cart      
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_1.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta RWD 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Crysta RWD")
                                                i.material-icons shopping_cart      
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_3.png", alt="Crysta Premium Dining Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta MHG 
                                        p.price MRP: ₹ 635/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Crysta MHG")
                                                i.material-icons shopping_cart      
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_crysta_5.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Crysta DBR 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                             a.btn-floating.waves-effect.waves-light.red.request-quote.modal-trigger(data-target="quote-modal", data-item="Crysta DBR")
                                                i.material-icons shopping_cart      


                                                                                                                
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home
                #quote-modal.modal
                    .modal-content
                        h3 Modal Header
                        p Please fill all your details.
                        form(action="", id="request-quote-form")
                            .input-field
                                input(placeholder="John Doe", id="rq-name", type="text", class="validate")
                                label(for="rq-name") Name
                            .input-field
                                input(placeholder="johndoe@gmail.com", id="rq-email", type="email", class="validate")
                                label(for="rq-email") Email
                            .input-field
                                input(placeholder="10 Digit Mobile No", id="rq-phone", type="tel", class="validate")
                                label(for="rq-phone") Phone    
                            .input-field
                                input(placeholder="575001", id="rq-pincode", type="number", class="validate")
                                label(for="rq-pincode") Pincode
                            .input-field
                                input(placeholder="Mangalore", id="rq-location", type="text", class="validate")
                                label(for="rq-location") Location
                            .input-field
                                textarea#rq-message.materialize-textarea  
                                label(for="rq-message")  Message                                                                                           
                    .modal-footer
                        a.modal-send.waves-effect.waves-green.btn.btn-flat(href="#") Send
                        a.modal-close.waves-effect.waves-green.btn.btn-flat(href="#") Close




