extends partials/head.pug

block title 
        title Premium Arm Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/Bentley.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium Arm Chairs
                h3.product-title.center-align Impreza

                p.category-description
                     strong  Impreza  
                     |    is fully rattan designed chair is first of its kind in India have ergonomically contoured comfortable back.The seat, back,arms, legs are having rattan texture makes its look very luxurious and ornamental with perfectcomfort. The metallic glossy colors enhance the beauty of the chair many fold. The style, rattan texture, designand color and finish give rich look of ornamental chair instead of an ordinary plastic chairRecommended for households, resorts, hotels, replacement for wooden or bamboo chairs that need no maintenance.
                p.category-description
                 strong    Key Features:
                 |
                 ul
                    li.feature-list  Broad and high arm rest. 
                    li.feature-list  Fully Rattan textured luxurious Ornamental chair
                    li.feature-list  Excellent ergonomic classic back design.
                    li.feature-list  Can fit all types of formal seating needs.
                    li.feature-list  Ideal ornamental chairs.
                p.category-description
                    strong Dimensions: 
                    |(H)835 mm (W) 520 mm (D) 565 mm

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .card.product
                    .card-content
                        
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Impreza DBR
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Impreza TCO 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Impreza DGY 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/impreza_premium_arm_chairs.png", alt="Impreza Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Impreza CPR 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

                h3.product-title.center-align Optima and Altima   
                p.category-description  
                     strong Optima 
                     |lines design on seat and back arm chairs with metal pipe with claddings,Premium quality arm chairs with Line design on seat and back for comfort 	seating. 
                p.category-description  

                     strong Altima  
                     | Rattan design on seat and back arm chairs with metal pipe with claddings,Premium quality arm chairs with Rattandesign on seat and back for comfort seating. 
              
                p.category-description  
                   strong Dimensions:
                     |(H) 805 mm (W) 570 mm (D)480 mm 
                p.category-description    
                   strong  Key Features:
                     |
                     ul
                     li.feature-list  Very sturdy and strong chair.
                     li.feature-list  Suitable for any formal or informal ambience and special locations
                     li.feature-list  Suited for  comfort seating

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .card.product
                    .card-content
                        h3.product-title.center-align Optima  
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Optima CYB
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Optima RED 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Optima ORG 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Optima YLW 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/optima_premium_arm_chairs.png", alt="Optima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Optima DBR 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Altima
                       
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/altima_premium_arm_chairs.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Altima DBR
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/altima_premium_arm_chairs.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Altima TCO 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart        
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/altima_premium_arm_chairs.png", alt="Altima Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Altima DGY 
                                        p.price MRP: ₹ 1535/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart                                   
                h3.product-title.center-align Buggati and Bently    
                p.category-description  
                     strong Buggati 
                     |and  
                     strong Bently  
                     | are are Premium Arm Chairs with beautiful designs in wooden finish. They are Strong, heavy and stable chairs with contoured seat for extended use.
                p.page-description 
                        
                     strong Dimensions:
                     | (H) 825 mm, (W) 585 mm, (D) 650 mm

                p.category-description
                     strong  Key Features:
                     |
                     ul
                     li.feature-list  Highly Sturdy
                     li.feature-list  Strong Chairs
                     li.feature-list  Suited for special locations and comfort seating

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .card.product
                    .card-content
                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_buggati_1.png", alt="Buggati Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Buggati RWD
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_buggati_2.png", alt="Buggati Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Buggati PWD 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Bently

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_bently_9.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bently DBR
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_bently_7.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bently TCO 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                

                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

