extends partials/head.pug

block title 
        title Premium High Back Chairs

block content
    .container
        .card
            .card-image
                img(src="images/categories/premium_high_back.png", class="category-page-img", alt="Premium High Back Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium High Back Chairs
                p.category-description 
                    strong Lexus 
                    | 
                    strong Porsche  and Mercedes
                    |  have ergonomically contoured high back, and are very strong for daily use comfortable for long seating. The back of these chairs fit the body back shape perfectly for perfect comfort. The extra broad and high handles are perfect arm rest. The style, back design and color and finish give rich look of leather chair to a ordinary plastic chair.
                p.category-description Key Features:
                ul
                    li.feature-list  High Back Luxury Chairs
                    li.feature-list  Wooden Texture
                    li.feature-list  Broad and High arm rest
                    li.feature-list  Excellent ergonomics, classic back design
                    li.feature-list  Suitable for all formal seating needs 
                    li.feature-list  Ideal for visitor chairs
                p.category-description 
                    strong Recommended 
                    |for homes, restaurants, dining halls, banquet rooms, marriage halls, etc.
                .card.product
                    .card-content
                        h3.product-title.center-align Lexus
                        p.center-align Dimensions: (H) 865 mm, (W) 415 mm, (D) 470 mm

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lexus_3.png", alt="Lexus Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Lexus TCO
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lexus_1.png", alt="Lexus Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Lexus DBR 
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Porsche
                        p.center-align Dimensions: (H) 895 mm, (W) 590 mm, (D) 650 mm

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_porsche_3.png", alt="Porsche Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Porsche RWD
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_porsche_5.png", alt="Porsche Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Porsche MWD 
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                                                  .card.product
                    .card-content
                        h3.product-title.center-align Mercedes
                        p.center-align Dimensions: (H) 895 mm, (W) 590 mm, (D) 650 mm

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mercedes_2.png", alt="Mercedes Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mercedes TCO
                                        p.price MRP: ₹ 785/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_mercedes_1.png", alt="Mercedes Premium High Back Chairs, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Mercedes DBR 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

