extends partials/head.pug

block title 
        title Premium Relax Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/Ferrari1.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium Relax Chairs
                h3.product-title.center-align Ferrari
                p.category-description 
                strong Ferrari 
                |is flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                strong  Dimensions:
                | (H) 936 mm, (W) 615 mm, (D) 740 mm
                p.category-description
                strong Key Features:
                |
                ul
                    li.feature-list  Ergonomic
                    li.feature-list  Extremely Comforatble Design
                    li.feature-list  Higher seat height
                    li.feature-list  Excellent support for lumber and neck
                    li.feature-list  Ideal for leisure seating  
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.
                .card.product
                    .card-content
                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_3.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Ferrari TCO
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_ferrari_2.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Ferrari DBR 
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                h3.product-title.center-align Lotus
                p.category-description 
                strong Lotus 
                |is flagships Deccan models and are unique in many ways. They are ergonomically crafted, with contoured back and seat to support hips, lumber, spine and neck to support the back shape perfectly for extraordinary comfort - truly a RELAX CHAIRS! The seat height is ideal for all age groups including senior citizens find it easy to seat and get up. The broad handles for arm rest are at perfect height designed for true comfort.
                p.category-description 
                strong  Dimensions:
                | (H) 936 mm, (W) 615 mm, (D) 740 mm
                p.category-description
                strong Key Features:
                |
                ul
                    li.feature-list  Ergonomic
                    li.feature-list  Extremely Comforatble Design
                    li.feature-list  Higher seat height
                    li.feature-list  Excellent support for lumber and neck
                    li.feature-list  Ideal for leisure seating  
                p.category-description 
                    strong Recommended 
                    | for households, resorts, hotels, collage/school teaching staff and student common rooms, waiting areas in hospitals, travel companies.
                .card.product
                    .card-content
                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_3.png", alt="Ferrari Premium Relax Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Lotus TCO
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_lotus_1.png", alt="Ferrari Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Lotus DBR 
                                        p.price MRP: ₹ 1130/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

