extends partials/head.pug

block title 
        title Premium Arm Chairs

block content
    .container
        .card
            .card-image
                img(src="images/cover/Bentley.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Premium Arm Chairs
                p.category-description  
                     strong Buggati 
                     |and  
                     strong Bently  
                     | are are Premium Arm Chairs with beautiful designs in wooden finish. They are Strong, heavy and stable chairs with contoured seat for extended use.
                p.category-description Key Features:
                ul
                    li.feature-list  Highly Sturdy
                    li.feature-list  Strong Chairs
                    li.feature-list  Suited for special locations and comfort seating

                p.category-description 
                    strong Recommended 
                    | for households, restaurants, resorts, hotels, collage/school class rooms, visitor chairs, office chairs and any formal seating, a replacement of wooden chairs
                .card.product
                    .card-content
                        h3.product-title.center-align Buggati
                        p.center-align Dimensions: (H) 825 mm, (W) 585 mm, (D) 650 mm
                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_buggati_1.png", alt="Buggati Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Buggati RWD
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_buggati_2.png", alt="Buggati Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Buggati PWD 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .card.product
                    .card-content
                        h3.product-title.center-align Bently
                        p.center-align Dimensions: (H) 825 mm, (W) 585 mm, (D) 650 mm

                        .row.center-align
                            .col.m6.l3.offset-l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_bently_9.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bently DBR
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_bently_7.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Bently TCO 
                                        p.price MRP: ₹ 870/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

