extends partials/head.pug

block title 
        title Stools

block content
    .container
        .card
            .card-image
                img(src="images/categories/stool_cat.png", class="category-page-img", alt="Stools, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Stools
                p.category-description Key Features:
                  ul
                    li.feature-list  Sturdy and Strong
                    li.feature-list  Compact and Attractive Design
                    li.feature-list  Can be packed in a box
             
                .card.product
                    .card-content
                        h3.product-title.center-align Pulsar
                        p.center-align Dimensions: (H) 480 mm, Top - (L) 300 mm, (W) 300 mm
                        p.category-description 
                        strong Pulsar 
                        | is a Multipurpose rectangular stool of 21 inch height with great top design and leg rest. This 21 inch stool is good for craftsmen, where height is crucial of seat. The seat of Pulsar is nicely designed with very good ventilation.

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pulsar_4.png", alt="Pulsar stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pulsar MBG
                                        p.price MRP: ₹ 340/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pulsar_1.png", alt="Pulsar stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pulsar RED 
                                        p.price MRP: ₹ 340/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart

         
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pulsar_7.png", alt="Pulsar stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pulsar CYB
                                        p.price MRP: ₹ 340/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pulsar_7.png", alt="Pulsar stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pulsar DBR 
                                        p.price MRP: ₹ 340/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pulsar_6.png", alt="Pulsar stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pulsar CPK 
                                        p.price MRP: ₹ 340/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart 
                    .card.product
                    .card-content
                        h3.product-title.center-align Maestro Rattan
                        p.center-align Dimensions: (H) 480 mm, Top - (L) 300 mm, (W) 300 mm
                        p.category-description 
                        strong Maestro Rattan
                        |    premium stool is good for any important locations. The surface texture nicely designed to give feeling of luxury and class

                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_maestro_5.png", alt="Maestro stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Maestro TCO
                                        p.price MRP: ₹ 230/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_maestro_4.png", alt="Maestro stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Maestro DBR 
                                        p.price MRP: ₹ 230/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                    .card.product
                    .card-content
                        h3.product-title.center-align Activa
                        p.center-align Dimensions: (H) 435 mm, Top (Dia) 430 mm
                        p.category-description 
                        strong Activa 
                        | is a Multipurpose round stool with side support ribs for extra strength. It can replace chair for small budget. Provides good Value For Money.
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_7.png", alt="Activa Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Activa MBG
                                        p.price MRP: ₹ 255/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_3.png", alt="Activa Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Activa RED 
                                        p.price MRP: ₹ 255/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_6.png", alt="Activa Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Activa CYB 
                                        p.price MRP: ₹ 255/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_6.png", alt="Activa Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Activa DBR 
                                        p.price MRP: ₹ 255/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                    .card.product
                    .card-content
                        h3.product-title.center-align Pleasure 
                        p.center-align Dimensions: (H) 255 mm, Top- 310 mm x 260 mm
                        p.category-description 
                        strong Pleasure 
                        | is a Cute designed bath stool in attractive colors with side support ribs for extra strength. It is also a strong bath stool suitable to match flooring of any designer bathroom.
                        .row.center-align
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_7.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure RED
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pleasure_5.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure YLW 
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_activa_6.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure CGN  
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pleasure_2.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure ORG 
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pleasure_1.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure CYB 
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                            .col.m6.l3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/s_pleasure_4.png", alt="Pleasure Stools, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Pleasure CPK 
                                        p.price MRP: ₹ 220/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart
                       
                       
                .center-align
                    a(href="furniture.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

