extends partials/head.pug

block title 
        title Storage Solutions

block content
    .container
        .card
            .card-image
                img(src="images/cover/Bentley.png", class="category-page-img", alt="Premium Arm Chairs, Deccan Plast Industries")
            .card-content
                h2.category-title.center-align Storage Solutions
 
                .card.product
                    .card-content
                     h3.product-title.center-align Liberty Cabinets Big
                     p.category-description  
                     strong Liberty Cabinets Big -
                     |Rattan finished and wooden finished  cabinets for houses and commercial establishments 
                     p.category-description 
                     strong Recommended 
                     |for Household, Office, Kitchens.
                     p.center-align Dimensions: (H) 1500 mm (W) 710 mm (D) 440 mm
                        .row.center-align
                            .col.m6.offset-m3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/liberty_big.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Liberty Big
                                        p.price MRP: ₹ 7500/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                .card.product
                    .card-content
                     h3.product-title.center-align Liberty Cabinets Small
                     p.category-description  
                     strong Liberty Cabinets Small -
                     |Rattan finished and wooden finished  cabinets for houses and commercial establishments 
                     p.category-description 
                     strong Recommended 
                     |for Household, Office, Kitchens.
                     p.center-align Dimensions: (H) 790 mm (W) 710 mm (D) 440 mm
                        .row.center-align
                            .col.m6.offset-m3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/liberty_small.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Liberty Small
                                        p.price MRP: ₹ 4425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                .card.product
                    .card-content
                     h3.product-title.center-align Liberty Shoe Rack
                     p.category-description  
                     strong Liberty Shoe Rack -
                     |wooden finished shoe rack for houses and commercial establishments
                     p.category-description 
                     strong Recommended 
                     |for Household, Office, Kitchens.
                     p.center-align Dimensions: (H) 790 mm (W) 710 mm (D) 440 mm
                        .row.center-align
                            .col.m6.offset-m3
                                .card.product-card.z-depth-2
                                    .card-image
                                        img(src="images/products/furniture/liberty_small.png", alt="Bently Premium Arm Chair, Deccan Plast Industries.")
                                    .card-content.center-align
                                        span.card-title.grey-text.text-darken-4 Liberty Shoe Rack
                                        p.price MRP: ₹ 4425/-
                                        .right-align
                                            a.btn-floating.waves-effect.waves-light.red
                                                i.material-icons shopping_cart     
                                                    
              
                .center-align
                    a(href="products.html" class="waves-effect waves-light btn-large red") 
                        i.material-icons.left home
                        | Home

