footer#main-footer
    .row
        .col.m6
            h3.center-align Follow us on Social Media
            .center-align
                a(href="#" class="waves-effect waves-light btn-floating  btn-small red btn-social") 
                    i.fab.fa-facebook-f
                a(href="#" class="waves-effect waves-light btn-floating  btn-small red btn-social") 
                    i.fab.fa-twitter
                a(href="#" class="waves-effect waves-light btn-floating  btn-small red btn-social") 
                    i.fab.fa-instagram
                a(href="#" class="waves-effect waves-light btn-floating  btn-small red btn-social") 
                    i.fab.fa-linkedin-in
                a(href="#" class="waves-effect waves-light btn-floating  btn-small red btn-social") 
                    i.fab.fa-youtube
        .col.m6
            .center-align
                h3 Contact us
                p   
                strong Deccan Plast Industries
                |   6-B/1, Industrial Area, Baikampady,
                |   Mangalore-575011
                |   KARNATAKA, INDIA
                p Toll Free No: 1800 843 3322

                p Phone: +91 824 2408522 / 2408622

                p Customer No : : +91 9845080722 / 9845725722

                p Email: info@deccanplast.com/ deccanplast@gmail.com

                p Website: www.deccanplast.com
