a#menu-close.waves-effect.waves-light.btn-floating.btn-small.red
    i.material-icons close
a.brand(href="#")
    img(src="images/logo.png", alt="Deccan Plast Industries Logo")
ul.nav.flex-column
    li.nav-item
        a(href="#") Home
    li.nav-item        
        a(href="about.html") About
    li.nav-item
        a(href="furniture.html") Products
    li.nav-item
        a(href="ads.html") Ads
    li.nav-item
        a(href="career.html") Careers
    li.nav-item
        a(href="contact.html") Contact