body
    background-color azure
    font-size 16px
    padding 0

.menu-icon
    position: absolute
    cursor pointer
    top 1%
    left 2.5%

// Side Navigation
   
.sidenav
    background-color moccasin
    display flex
    flex-direction column
    #menu-close
        align-self flex-end
        margin-right 2.5%
        margin-top 2.5%
        cursor pointer
    .brand
        display block
        img
            display: block
            margin 20px auto
            padding 10px

    .nav
        padding 25px
        padding-left 50px
        li
            margin: 5px 0
        a
            color: #333
            font-weight: bold
            font-size: 1.2rem
    #footer
        align-self: center

.content
    min-height: 100vh
    .lead
        font-weight: bold;
        color: #636363;
    .category-card
        width 250px
        height 350px
        margin 0 auto
    .category-page-img
        max-height 50vh
    .category-title
        margin 1% auto !important
    .category-description
        line-height: 1.6
        margin 2.5% auto !important
        text-align justify
    
    