body
    background-color azure
    font-size 16px
    padding 0

.menu-icon
    position: absolute
    cursor pointer
    top 1%
    left 2.5%

// Side Navigation
   
.sidenav
    background-color moccasin
    display flex
    flex-direction column
    #menu-close
        align-self flex-end
        margin-right 2.5%
        margin-top 2.5%
        cursor pointer
    .brand
        display block
        img
            display: block
            margin 20px auto
            padding 10px

    .nav
        padding 25px
        padding-left 50px
        li
            margin: 5px 0
        a
            color: #333
            font-weight: bold
            font-size: 1.2rem
    #footer
        align-self: center

.content
    min-height: 100vh
    .lead
        font-weight: bold;
        color: #636363;
    .solutions-card
        margin 5% auto
        height 350px
        width 250px
    .category-card
        margin 5% auto
        height 325px
        width 200px
    .category-page-img
        max-height 50vh
    .category-title, .page-title
        margin 1% auto !important
    .category-description, .page-description
        line-height: 1.2
        margin 2.5% auto !important
        text-align justify
    .feature-list
        list-style-type square
 
    form
        text-align center
        padding 20px 20px
        color red

    label,type
        color #C62828 
        font-weight 300
        z-index 1
        font-weight 700
    .row,.input-field
        width 70%    
    .label
        color black
      


.btn 
	border none
    width 200px
	color #000
	background #fff
	cursor pointer
	display inline-block
	font-weight 700
	position relative
    outline none
    box-shadow 0 6px #cecece
    border-radius 5px
    margin-right 6px






     

